.listContainer {
  width: 100%;
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.sideMenu {
  min-width: 300px;
  height: 100vh;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.mainBox {
  width: 75%;
}
.mainClogo {
  width: 75%;
  margin: 17px 0 35px 20px;
  cursor: pointer;
}
.sideMenuDropBox {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  background: #c8d4dc;
  position: relative;
  cursor: pointer;
}
.dropIcon {
  position: absolute;
  top: 26px;
  right: 15px;
  transition: all 0.7s;
}
.sideMenuDropBox p {
  font-size: 18px !important;
  font-weight: 600 !important;
  color: #262528c7;
}
.sideMenuItemBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: all 0.7s;
  overflow: hidden;
}
.sideMenuItemBoxPad {
  padding: 15px 0;
}

.sideMenuSubItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
  gap: 12px;
  cursor: pointer;
}
.subMenuText {
  color: #4e4c54d7;
  font-weight: 600 !important;
  transition: all 0.3s;
}
.subMenuText:hover {
  color: #ff8306;
}
.subMenuTextActive {
  color: #ff8306;
}
.colseMenuTabe {
  position: absolute;
  bottom: 0px;
  width: 91%;
  height: 60px;
  border-radius: 10px;
  background: #faedde;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 10px;
  cursor: pointer;
}
.colseMenuTabe img {
  width: 22px;
  height: 20px;
}
.colseMenuTabe p {
  color: #262528;
}
.sectionNav {
  width: 100%;
  height: 65px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.headerLabel {
  width: 60%;
}
.navAvatarBox {
  width: 40%;
  min-width: 366px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.headerLabel p {
  font-size: 20px !important;
  font-weight: 600 !important;
  color: #4e4c54;
}
.navCalBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.navCalBox p {
  font-size: 14px !important;
}
.avatarBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: relative;
}
.avatarBox img {
  transition: all 0.5s;
  cursor: pointer;
}
.ballIcon {
  position: relative;
}
.ballIcon .notifCount {
  width: 23px;
  height: 23px;
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  background: #f08a0a;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ballIcon .notifCount p {
  color: #fff;
  font-size: 11px !important;
}
.searchAndShotrBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  margin: 30px 0;
}

/* ------- */
.workListBox {
  width: 100%;
  border: 1px solid #eaecf0;
  border-radius: 16px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}
.haderRow {
  width: 100%;
  height: 44px;
  display: flex;
  flex-direction: row;
  background: #f2f4f7;
  justify-content: start;
  padding: 0 2%;
}
.haderRow .Tabelsel {
  justify-content: center;
}
.Tabelsel {
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: relative;
}
.TabelselItemCenter {
  justify-content: center !important;
}
.TabelselItemStart {
  justify-content: start !important;
}
.haderRow p {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #475467;
}
.TabelRow {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 0 2%;
  border: 1px solid #eaecf0;
}
.tabelFChechBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.haderRow .Tabelsel p {
  font-weight: 600 !important;
}
.viewBox img {
  width: 20px;
  margin-right: 10px;
}
.pagenation {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding: 40px 0;
}
.pageNumberBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tabelBtn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tabelBtn img {
  width: 10px;
}
.pageNumber {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 4px;
}
.pageNumber p {
  font-size: 12px;
}
.pageNumberActive {
  background: #f08a0a;
}
.pageNumberActive p {
  color: #fff;
}
.avaratDropBox > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.avaratDropBox > div img {
  width: 20px;
}
.avatarBox .dropItem {
  height: 35px;
}
.avatarBox .dropItemBox {
  bottom: -83px;
}
