.listContainer {
  width: 100%;
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.sideMenu {
  width: 300px;
  height: 100vh;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.mainBox {
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.mainClogo {
  width: 75%;
  margin: 17px 0 35px 20px;
  cursor: pointer;
}
.sideMenuDropBox {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  background: #c8d4dc;
  position: relative;
}
.dropIcon {
  position: absolute;
  top: 26px;
  right: 15px;
  transition: all 0.7s;
}
.sideMenuDropBox p {
  font-size: 18px !important;
  font-weight: 600 !important;
  color: #262528c7;
}
.sideMenuItemBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: all 0.7s;
  overflow: hidden;
}
.sideMenuItemBoxPad {
  padding: 15px 0;
}

.sideMenuSubItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
  gap: 12px;
  cursor: pointer;
}
.subMenuText {
  color: #4e4c54d7;
  font-weight: 600 !important;
  transition: all 0.3s;
}
.subMenuText:hover {
  color: #ff8306;
}
.subMenuTextActive {
  color: #ff8306;
}
.colseMenuTabe {
  position: absolute;
  bottom: 0px;
  width: 91%;
  height: 60px;
  border-radius: 10px;
  background: #faedde;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 10px;
  cursor: pointer;
}
.colseMenuTabe img {
  width: 22px;
  height: 20px;
}
.colseMenuTabe p {
  color: #262528;
}
