.authContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.logBackg {
  width: 80%;
  height: 100%;
  margin-top: 100px;
  position: absolute;
  z-index: -1;
}
.logForm {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}
.clogo {
  width: 43%;
  margin-bottom: 32px;
}
.logText {
  font-size: 30px !important;
  font-weight: 700 !important;
  text-shadow: 2px 2px #a7a7a76b;
  margin-bottom: 18px !important;
}
.logInnerFrom {
  width: 100%;
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: #fff;
  padding: 20px;
}
.logNav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 10px;
}
.logNavText {
  font-size: 22px !important;
  font-weight: 700 !important;
  color: #4e4c54;
}
.logNavTextActive {
  color: #f08a0a;
  text-decoration: underline;
  text-underline-offset: 18px;
}
.logInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 75px;
}
.inputBox {
  width: 100%;
  height: 60px;
  border: 1px solid rgba(61, 61, 61, 0.534);
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}
.inputBox input {
  width: 100%;
  height: 100%;
  padding-left: 45px;
  border: none;
}
.inputBox input:focus {
  outline: none;
}
.inputBox .inputIcon {
  position: absolute;
  top: 18px;
  left: 16px;
}
.eyeIcon {
  position: absolute;
  top: 18px;
  right: 16px;
  cursor: pointer;
}
.forgetText {
  color: #5f6489;
  width: 100%;
  text-align: end;
  font-size: 12px !important;
  margin-top: 5px !important;
  cursor: pointer;
  margin-bottom: 40px !important;
}
.btnCenterWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

/* tabe view */
@media (min-width: 768px) {
  .logForm {
    width: 50%;
    padding-top: 50px;
  }
  .logText {
    font-size: 40px !important;
    margin-bottom: 32px !important;
  }
}
/* desktop view */

@media (min-width: 1000px) {
  .logForm {
    width: 40%;
  }
  .authContainer {
    height: 100vh;
  }
}
