.createSection {
  width: 100%;
}
.inputDropBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 13px 0;
  margin-top: 10px;
  gap: 9px;
}
.appInput {
  width: 100%;
  height: 45px;
  border: 1px solid #dad5d5;
  padding-left: 20px;
  border-radius: 7px;
  position: relative;
}
.appInput:focus {
  outline: none;
}
.upLabel {
  position: relative;
  margin-top: 55px;
}
.dropLabel {
  font-size: 20px !important;
  font-weight: 600 !important;
  color: #262528;
  position: absolute;
  top: -43px;
  left: 0px;
}
.inputSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.InnerinputSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 8px;
  margin-top: 10px;
}
.inputSectionHeader {
  font-size: 20px !important;
  font-weight: 600 !important;
  color: #262528;
}
.inputLabel {
  font-size: 18px !important;
  color: #4e4c54;
  margin-top: 30px !important;
  margin-bottom: 10px !important;
}
.avatarBox {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  position: relative;
}
.avatarEImg {
  width: 100px;
  height: 100px;
}
.avatarCIcon {
  width: 19px;
  height: 19px;
  position: absolute;
  bottom: -8px;
  right: 119px;
}
.enAddressTextArea {
  height: 156px;
  padding: 15px 20px;
}
.tabelAvatar {
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabelAvatar img {
  width: 100%;
  height: 100%;
}
.tabelEdit img {
  width: 20px;
  margin-right: 10px;
}
.adEnBtnBox {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.AdCFDrop {
  width: 100%;
}
/* tabe view */
@media (min-width: 768px) {
  .avatarBox {
    width: 200px;
    height: 200px;
    position: relative;
    left: -40px;
  }
  .avatarEImg {
    width: 100%;
    height: 100%;
  }
  .avatarCIcon {
    width: 30px;
    height: 30px;
    bottom: 45px;
    right: 37px;
  }
  .inputSection {
    flex-direction: row;
    justify-content: space-between;
  }
  .InnerinputSection {
    width: 50%;
    padding-right: 0px;
    margin-top: 0px;
  }
  .inputSection {
    gap: 40px;
  }
  .adEnBtnBox {
    justify-content: start;
  }
  .inputDropBox {
    flex-direction: row;
    justify-content: space-between;
    margin: 55px 0;
    margin-top: 75px;
  }
  .AdCFDrop {
    width: 25%;
  }
  .upLabel {
    margin-top: 0px;
  }
}

/* desktop view */

@media (min-width: 1000px) {
  .inputDropBox {
    gap: 30px;
  }
}
